
<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <%-partial('partials/head')%>

<!-- <script defer>
  document.addEventListener('visibilitychange', function () {
  if (document.visibilityState == 'hidden') {
      normal_title = document.title;
      document.title = '点一下';
  } else document.title = normal_title;
}); -->

</script>
  <body data-theme="light" class="notransition">
    <script defer>
      const body = document.body;
      const data = body.getAttribute("data-theme");
      const initTheme = (state) => {
        if (state === "dark") {
          body.setAttribute("data-theme", "dark");
        } else if (state === "light") {
          body.removeAttribute("data-theme");
        } else {
          localStorage.setItem("theme", data);
        }
      };
   
      initTheme(localStorage.getItem("theme"));
      
      setTimeout(() => body.classList.remove("notransition"), 75);
    </script>
  <%-partial('partials/header')%>
  <%- body %>
  <%-partial('partials/foot')%>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
  document.body.classList.add('loaded');
});

  </script>
</body>
</html>
