
<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <!-- 解决暗色模式闪白：优先设置 data-theme -->
  <script>
    (function() {
      try {
        // 从 localStorage 获取保存的主题
        var theme = localStorage.getItem('theme');
        // 如果主题是 'dark'，则设置 data-theme 属性
        if (theme === 'dark') {
          document.documentElement.setAttribute('data-theme', 'dark');
        } else {
          // 否则，移除 data-theme 属性（再按照 main.js 中的内容处理）
          document.documentElement.removeAttribute('data-theme');
        }
      } catch(e){
        console.error("Error setting theme:", e);
      }
    })();
  </script>
  
  <!-- 提示浏览器颜色的 meta 标签 -->
  <meta name="color-scheme" content="light dark">

  <%-partial('partials/head')%>
</head>
<body class="notransition">
  <script defer>
    // 延迟移除 notransition 类，确保初始主题设置完成
    setTimeout(() => document.body.classList.remove("notransition"), 75);
  </script>
  <%-partial('partials/header')%>
  <%- body %>
  <%-partial('partials/foot')%>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // 当 DOM 内容加载完成后，为 body 添加 'loaded' 类
      document.body.classList.add('loaded');
    });
  </script>
</body>
</html>
